body, html {
  height: 100%;
  width: 100%;
  margin:0;
  background: linear-gradient(0deg, #ffd639 35% ,#f75b39 100%);
  --b : #333;
  --of:#de7b42;
	--wf:#fff;
	--yfl:#bea541;
	--t:#4a73ad;
	--fy:#ffd539;
	--fr:#f75a39;
}

#infernape {
  position: absolute;
  top: 40%;
  left: calc((100% - 26px)/2);
  height: 5px;
  width: 5px;
  background: #333;

  box-shadow: 
  /*row two*/
  -5px 5px #333,0px 5px #f75a39,5px 5px #333,10px 5px #333,15px 5px #333,45px 5px #333,50px 5px #333,55px 5px #333,
  /*row three*/
	-25px 10px #333,-20px 10px #333,-10px 10px #333,-5px 10px #f75a39,0px 10px #f75a39,5px 10px #f75a39,10px 10px #f75a39,15px 10px #f75a39,20px 10px #333,40px 10px #333,45px 10px #ffd539,50px 10px #ffd539,55px 10px #ffd539,60px 10px #333,
  /*row four*/
	-40px 15px #333,-30px 15px #333,-25px 15px #f75a39,-20px 15px #f75a39,-15px 15px #333,-10px 15px #f75a39,-5px 15px #f75a39,0px 15px #f75a39,5px 15px #f75a39,10px 15px #ffd539,15px 15px #ffd539,20px 15px #ffd539,25px 15px #333,30px 15px #333,35px 15px #333,40px 15px #ffd539,45px 15px #ffd539,50px 15px #333,55px 15px #333,
  /*row five*/
	-45px 20px #333,-40px 20px #de7b42,-35px 20px #333,-30px 20px #f75a39,-25px 20px #f75a39,-20px 20px #ffd539,-15px 20px #ffd539,-10px 20px #f75a39,-5px 20px #f75a39,0px 20px #ffd539,5px 20px #ffd539,10px 20px #ffd539,15px 20px #ffd539,20px 20px #f75a39,25px 20px #f75a39,30px 20px #f75a39,35px 20px #f75a39,40px 20px #f75a39,45px 20px #f75a39,50px 20px #333,
  /*row six*/
	-45px 25px #333,-40px 25px #de7b42,-35px 25px #333,-30px 25px #f75a39,-25px 25px #ffd539,-20px 25px #ffd539,-15px 25px #333,-10px 25px #333,-5px 25px #ffd539,-0px 25px #ffd539,5px 25px #ffd539,10px 25px #ffd539,15px 25px #333,20px 25px #f75a39,25px 25px #f75a39,30px 25px #f75a39,35px 25px #f75a39,40px 25px #f75a39,45px 25px #333,
  /*row seven*/
	-45px 30px #333,-40px 30px #de7b42,-35px 30px #fff,-30px 30px #333,-25px 30px #ffd539,-20px 30px #333,-15px 30px #fff,-10px 30px #333,-5px 30px #333,0px 30px #ffd539,5px 30px #ffd539,10px 30px #333,15px 30px #de7b42,20px 30px #333,25px 30px #f75a39,30px 30px #f75a39,35px 30px #333,40px 30px #333,
  /*row eight*/
	-45px 35px #333,-40px 35px #de7b42,-35px 35px #fff,-30px 35px #333,-25px 35px #333,-20px 35px #fff,-15px 35px #fff,-10px 35px #333,-5px 35px #fff,0px 35px #333,5px 35px #333,10px 35px #de7b42,15px 35px #de7b42,20px 35px #333,25px 35px #333,30px 35px #333,
  /*row nine*/
	-40px 40px #333,-35px 40px #fff,-30px 40px #fff,-25px 40px #fff,-20px 40px #fff,-15px 40px #fff,-10px 40px #fff,-5px 40px #fff,0px 40px #fff,5px 40px #333,10px 40px #de7b42,15px 40px #4a73ad,20px 40px #333,
  /*row ten*/
	-45px 45px #333,-40px 45px #f75a39,-35px 45px #fff,-30px 45px #fff,-25px 45px #de7b42,-20px 45px #de7b42,-15px 45px #de7b42,-10px 45px #fff,-5px 45px #fff,0px 45px #333,5px 45px #de7b42,10px 45px #4a73ad,15px 45px #4a73ad,20px 45px #333,      50px 45px #333,55px 45px #333,60px 45px #333,65px 45px #333,
  /*row eleven*/
	-45px 50px #333,-40px 50px #f75a39,-35px 50px #fff,-30px 50px #de7b42,-25px 50px #f75a39,-20px 50px #f75a39,-15px 50px #f75a39,-10px 50px #de7b42,-5px 50px #fff,0px 50px #333,5px 50px #de7b42,10px 50px #4a73ad,15px 50px #de7b42,20px 50px #333,       45px 50px #333,50px 50px #de7b42,55px 50px #de7b42,60px 50px #de7b42,65px 50px #de7b42,70px 50px #333,
  /*row twelve*/
	-45px 55px #333,-40px 55px #f75a39,-35px 55px #de7b42,-30px 55px #f75a39,-25px 55px #f75a39,-20px 55px #f75a39,-15px 55px #f75a39,-10px 55px #f75a39,-5px 55px #fff,0px 55px #fff,5px 55px #333,10px 55px #de7b42,5px 55px #333,       40px 55px #333,45px 55px #de7b42,50px 55px #de7b42,55px 55px #de7b42,60px 55px #de7b42,65px 55px #de7b42,70px 55px #333,
  /*row thirteen*/
	-50px 60px #333,-45px 60px #ffd539,-40px 60px #333,-35px 60px #f75a39,-30px 60px #f75a39,-25px 60px #de7b42,-20px 60px #333,-15px 60px #ffd539,-10px 60px #f75a39,-5px 60px #fff,0px 60px #fff,5px 60px #333,10px 60px #333,15px 60px #333,      40px 60px #333,45px 60px #de7b42,50px 60px #de7b42,55px 60px #333,60px 60px #333,65px 60px #333,
  /*row fourteen*/
	-55px 65px #333,-50px 65px #bea451,-45px 65px #bea451,-40px 65px #333,-35px 65px #de7b42,-30px 65px #de7b42,-25px 65px #de7b42,-20px 65px #de7b42,-15px 65px #de7b42,-10px 65px #fff,-5px 65px #fff,0px 65px #333,5px 65px #ffd539,10px 65px #bea451,15px 65px #ffd539,20px 65px #333,       35px 65px #333,40px 65px #de7b42,45px 65px #de7b42,50px 65px #333,
  /*row fifteen*/
	-55px 70px #333,-50px 70px #4a73ad,-45px 70px #4a73ad,-40px 70px #4a73ad,-35px 70px #333,-30px 70px #de7b42,-25px 70px #de7b42,-20px 70px #de7b42,-15px 70px #333,-10px 70px #333,-5px 70px #333,0px 70px #bea451,5px 70px #ffd539,10px 70px #bea451,15px 70px #bea451,20px 70px #ffd539,25px 70px #333,30px 70px #333,35px 70px #de7b42,40px 70px #de7b42,45px 70px #333,
  /*row sixteen*/
	-55px 75px #333,-50px 75px #4a73ad,-45px 75px #333,-40px 75px #333,-35px 75px #333,-30px 75px #333,-25px 75px #333,-20px 75px #333,-15px 75px #ffd539,-10px 75px #fff,-5px 75px #fff,0px 75px #fff,5px 75px #333,10px 75px #ffd539,15px 75px #ffd539,20px 75px #ffd539,25px 75px #de7b42,30px 75px #de7b42,35px 75px #333,40px 75px #333,
  /*row seventeen*/
	-50px 80px #333,-45px 80px #333,     -20px 80px #333,-15px 80px #333,-10px 80px #fff,-5px 80px #ffd539,0px 80px #ffd539,5px 80px #bea451,10px 80px #333,15px 80px #333,20px 80px #333,25px 80px #de7b42,30px 80px #de7b42,35px 80px #333,
  /*row eighteen*/
	-30px 85px #333,-25px 85px #333,-20px 85px #fff,-15px 85px #fff,-10px 85px #bea451,-5px 85px #bea451,0px 85px #fff,5px 85px #fff,10px 85px #333,      25px 85px #333,30px 85px #de7b42,35px 85px #ffd539,40px 85px #333,
  /*row nineteen*/
	-35px 90px #333,-30px 90px #de7b42,-25px 90px #de7b42,-20px 90px #de7b42,-15px 90px #fff,-10px 90px #fff,-5px 90px #fff,-0px 90px #de7b42,5px 90px #de7b42,10px 90px #de7b42,15px 90px #333,20px 90px #333,25px 90px #de7b42,30px 90px #ffd539,35px 90px #ffd539,40px 90px #333,
  /*row twenty*/
	-35px 95px #333,-30px 95px #333,-25px 95px #fff,-20px 95px #fff,-15px 95px #333,-10px 95px #fff,-5px 95px #de7b42,0px 95px #de7b42,5px 95px #de7b42,10px 95px #333,       30px 95px #333,35px 95px #bea451,40px 95px #ffd539,45px 95px #4a73ad,50px 95px #333,
  /*row twenty-one*/
	-30px 100px #333,-25px 100px #333,-20px 100px #333,-5px 100px #333,0px 100px #de7b42,5px 100px #de7b42,10px 100px #de7b42,15px 100px #fff,20px 100px #333,      30px 100px #333,35px 100px #4a73ad,40px 100px #4a73ad,45px 100px #4a73ad,50px 100px #333,
  /*row twenty-two*/
	-5px 105px #333,0px 105px #bea451,5px 105px #ffd539,10px 105px #ffd539,15px 105px #4a73ad,20px 105px #333,     30px 105px #333,35px 105px #4a73ad,40px 105px #333,45px 105px #4a73ad,50px 105px #333,
  /*row twenty-three*/
	0px 110px #333,5px 110px #4a73ad,10px 110px #4a73ad,15px 110px #4a73ad,20px 110px #333,35px 110px #333,45px 110px #333,
  /*row twenty-four*/
	5px 115px #333,10px 115px #333,15px 115px #333
  ;
}